 * {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
 }

 body {
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
 }

 header {
  background-color: rgb(20, 15, 15);
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
 }

 div .img-1 {
  margin-left: 45px;
  margin-right: 5px;
  width: 50px;
 }

 .ri-notification-2-line {
  color: white;
  margin-left: 415px;
 }

 .ri-add-fill {
  color: white;
  float: right;
  margin-left: 15px;
  font-size: 23px;
 }

 .select {
  margin: 0;
  background-color: black;
  color: white;
 }


 .label {
  margin-top: 7px;
  border-radius: 7px;
  margin-left: -20px;
 }

 label textarea {
  padding: 6px;
  border-radius: 7px;
  background-color: rgb(20, 15, 15);
  margin-left: 0px;
 }

 .navbar {
  display: flex;
  margin-left: 10px;
 }

 .navbar a {
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0;
  margin: 0 10px;
  color: white;
 }

 ::placeholder {
  font-family: 'Lato', sans-serif;
  position: relative;
  font-size: small;
 }

 .img {
  border-radius: 50%;
  width: 180px;
  height: 190px;
  margin-top: 100px;
  margin-left: 40px;
 }

 .follow {
  padding: 6px;
  border: 1px solid gray;
  width: 340px;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(226, 218, 218);
  font-weight: bold;
  margin: 15px 0;
  font-size: large;
 }

 div .text {
  margin-top: 10px;
  margin-left: 38px;
  line-height: 1.2;
  font-size: larger;
 }

 .divider {
  border-bottom: 1px solid gray;
  margin: 15px 50px 20px 38px;
 }

 .img-2 {
  width: 100px;
  height: 100px;
  margin-left: 30px;
 }

 .feedback {
  display: none;
 }

 div .block {
  display: none;
 }


 #main {
  display: grid;
  grid-template-columns: 30% 70%;
 }

 .a {
  line-height: 30px;
  display: inline-block;
  padding: 5x 5px 5px 5px;
  margin: 100px 25px 10px 30px;
 }

 .a:hover {
  border: 3px rgb(35, 35, 234) solid;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 8px;
 }

 .divider-2 {
  border-bottom: 1px solid gray;
 }

 .b {
  margin-left: -4px;
  background-color: white;
 }

 .flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 16px;
  margin-bottom: 14px;
  grid-gap: 20px;
 }

 .star {
  display: flex;
  padding: 6px;
  border: 1px solid gray;
  width: 110px;
  float: right;
  border-radius: 6px;
  margin-right: 70px;
  align-items: center;
  margin-top: -38px;
  background-color: rgb(242, 238, 238);
 }

 .ri-star-line {
  font-size: 20px;
  margin-right: 7px;
 }

 .star select {
  margin-left: 9px;
 }


 h2 {
  margin-left: 38px;
 }

 .para {
  margin-bottom: 43px;
 }

 div .c {
  display: inline;
  margin-right: 0;
  padding: 6px 15px 6px 10px;
  border-radius: 7px;
  font-size: 14px;
  background-color: rgb(245, 240, 240);
  margin-left: 0;
 }

 .para h2 {
  color: blue;
  margin: 25px 0 10px 6px;
 }

 .para .first {
  margin: 20px 0 0 3px;
 }

 h2 a {
  color: black;
  font-size: small;
  padding: 3px 7px;
  border: 1px solid gray;
  border-radius: 35px;
 }

 div span {
  margin-left: 0;
 }

 div .ri-more-fill {
  font-size: 35px;
  display: inline-block;
  cursor: pointer;
  z-index: 10001;
  padding: 0;
  display: none;
 }

 #menu-icon {
  color: white;
  font-size: 32px;
  margin-left: 10px;
  cursor: pointer;
  z-index: 10001;
  display: none;
 }


 @media(max-width: 1090px) {
  header {
   background-color: rgb(27, 26, 45);
   width: 100%;
   height: 60px;
   position: fixed;
   top: 0;
   display: flex;
   align-items: center;
  }

  .ri-notification-2-line {
   color: white;
   margin-left: 15px;
  }

  .ri-add-fill {
   margin-left: 15px;
   font-size: 25px;
  }

  div .img-1 {
   margin-left: 6;
   margin-right: 18px;
   width: 40px;
  }

  .label {
   margin-left: -37px;
   resize: none;
  }

  .label textarea[cols] {
   width: 230px;
  }

  .span {
   display: none;
  }

  .pull::after {
   content: "s";
  }

  .label textarea::placeholder {
   content: "search";
   display: none;

  }

  .bars {
   display: none;
  }

  .navbar a {
   font-size: 13px;
   font-weight: bold;
   padding: 5px 0;
   margin: 0 7px;
  }

  .img {
   border-radius: 50%;
   width: 250px;
   height: 260px;
   margin-top: 100px;
   margin-left: 30px;
  }

  div .text {
   margin-left: 20px;
  }

  .divider {
   margin-left: 20px;
   margin-right: 0px;
  }


  #main {
   display: grid;
   grid-template-columns: 38% 70%;
  }

  .follow {
   padding: 6px;
   border: 1px solid gray;
   width: 267px;
   text-align: center;
   border-radius: 5px;
   background-color: rgb(226, 218, 218);
   font-weight: bold;
   margin: 15px 0;
  }

  h2 {
   margin-left: 20px;
  }

  .img-2 {
   margin-left: 20px;
  }

  .a {
   line-height: 0px;
   display: inline-block;
   padding: 20x 10px 10px 10px;
   margin: 120px 5px 35px 25px;
  }

  .a:hover {
   padding: 15px 7px;
   background-color: rgb(234, 242, 242);
   border: none;
  }

  .divider-2 {
   display: none;
  }

  .b {
   display: none;
  }

  div .c {
   display: none;
  }

  .para {
   padding: 13px 10px 10px 4px;
   border: 1px solid gray;
   width: 39%;
   height: 120px;
   margin: 5px 0 10px 15px;
   display: inline-block;
   border-radius: 7px;
  }

  .para h2 {
   color: rgb(121, 121, 240);
   margin: 5px 0 10px -4px;
   font-size: 15px;
  }

  .star {
   display: none;
  }

  h2 a {
   color: black;
   font-size: smaller;
   padding: 3px 7px;
   border: 1px solid gray;
   border-radius: 35px;
   float: right;
  }

  .para .repo {
   margin: 0 0 15px -4px;
   padding: 5px 0 30px 5px;
  }

  .para .git {
   margin: 0px 0 15px -4px;
   padding-bottom: 30px;
   padding-left: 10px;
   padding-top: 5px;
  }

  .para p {
   font-size: small;
  }

  div span {
   font-size: small;
  }
 }


 @media (max-width: 1090px) {
  div .ri-more-fill {
   display: block;
  }

  .hidden {
   position: absolute;
   top: 10;
   right: -100%;
   width: 270px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
  }

  .a .hidden {
   display: block;
   margin: 12px 12px;
   padding: 0 25px;
  }

  #menu-icon {
   display: none;
  }

 }


 @media screen and (max-width: 550px) {

  * {
   padding: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: none;
  }


  .navbar {
   display: none;
  }

  #menu-icon {
   display: block;
   font-size: 32px;
  }

  .ri-notification-2-line {
   margin-left: 135px;
   font-size: 23px;
  }

  .ri-add-fill {
   display: none;
  }

  .hidden {
   position: relative;
   display: none;
   right: 0;
  }

  .a {
   line-height: 30px;
   display: inline;
   padding: 5x 5px 5px 5px;
   margin: 0px 5px 0px 15px;
  }


  div .ri-more-fill {
   display: none;
  }

  .select {
   display: none;
  }

  div .img-1 {
   margin-left: 190px;
   width: 70px;
   height: 60px;
  }

  .img {
   width: 100px;
   height: 100px;
   border-radius: 60px;
   margin-left: 25px;
   margin-top: 80px;
  }

  #main {
   display: grid;
   grid-template-columns: none;
  }

  .divider {
   margin-right: 30px;
   margin-top: 50px;
  }

  div h3 {
   display: inline;
   float: right;
   margin-top: -100px;
   margin-right: 205px;
   font-size: larger;
  }

  div .p {
   float: right;
   margin-top: -70px;
   margin-right: 270px;
   padding-left: 120px;
  }


  div p {
   margin-top: -180px;
  }

  .achievements {
   font-size: 20px;
  }

  .img-2 {
   width: 80px;
   height: 80px;
   margin-top: 10px;
   margin-bottom: 100px;
  }

  .follow {
   width: 95%;
   margin-top: 60px;
   margin-bottom: 100px;
  }


  .text div {
   display: none;
  }

  .beta {
   margin: -90px 0 100px 17px;
   color: green;
   border: 1px solid green;
   padding: 3px 7px;
   border-radius: 35px;
   width: 60px;
  }

  .feedback {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-bottom: 10px;
  }

  .send {
   margin-top: -86px;
   margin-left: -170px;
   color: blue;
  }

  div .block {
   display: grid;
   margin-left: 20px;
   float: left;
   font-weight: 300;
  }

  div .ri-more-fill {
   display: none;
  }


  .para {
   padding: 0;
   border: none;
   display: inline;
  }

  .divider-2 {
   display: grid;
   margin-top: 30px;
  }

  .para h2 {
   color: blue;
   font-size: 21px;
  }

  h2 a {
   font-size: small;
   padding: 3px 7px;
   float: none;
  }

  .para .repo {
   margin: 0 0 -11px 0;
   padding: 5px 0 30px 14px;
  }

  .para .git {
   margin: 0px 0 15px 2px;
   padding: 5px 0 0 15px;
  }

  .para .first {
   margin: 5px 0 15px 15px;
  }

  .para p {
   font-size: small;
   padding-left: 10px;
  }

  div span {
   font-size: small;
   padding-left: 10px;
  }

  .label {
   display: none;
  }

  .flex-container {
   display: grid;
   grid-template-columns: none;
   margin-bottom: 14px;
  }

  textarea[cols] {
   display: grid;
   width: 490px;
   margin-left: 10px;
   margin-bottom: -10px;
  }

  div .c {
   display: inline;
   margin-left: 10px;
   margin-bottom: -10px;
  }

  .star {
   display: flex;
   padding: 5px;
   border: 1px solid gray;
   width: 110px;
   float: right;
   border-radius: 6px;
   margin-right: 30px;
   align-items: center;
   margin-top: -38px;
   background-color: rgb(242, 238, 238);
  }

  .ri-star-line {
   font-size: 20px;
   margin-right: 7px;
  }

  .star select {
   margin-left: 6px;
  }


 }