/*  General */

:root {
  --background-color-main: #f3f5f6;
  --background-color-secondary: #ffffff;
  --hover-main: #e6e6e6;
}

.bordered {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 3px;
}
.radius-full {
  border-radius: 50%;
}

svg {
  width: 20px;
}

.item {
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
  &:hover:not(.logo, .hu-search) {
    cursor: pointer;
    background-color: #e6e6e6;
  }
}

hr {
  border: 0;
  height: 1px;
  width: 100%;
  border-top: 1px solid #d3d3d3;
  margin: 0;
  margin-bottom: 20px;
}
b {
  font-weight: bold;
}

.link {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
  }
}

body {
  position: relative;
  min-height: calc(100vh - 50px);
  padding-bottom: 50px;
  overflow-x: hidden;
}

/*  header */

header:not(.main-header) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f5f6;
  padding: 10px 10px 10px 10px;

  header-up,
  header-down {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  header-up {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .repo-title {
      font-weight: bold;
    }

    div,
    span {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .hu-left .item:not(.hu-sperator, .hu-account) {
      margin-right: 10px;
    }

    .hu-search {
      width: 300px;
      padding: 3px 10px 3px 10px;
      > svg {
        margin-right: 10px;
        width: 15px;
      }
    }

    .hu-right .item {
      margin-left: 10px;
    }
  }

  header-down {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5px;

    .hd-left .item {
      margin-right: 10px;
    }

    .item {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      svg {
        margin-right: 5px;
      }
    }
  }
}

/*  main */

main {
  max-width: 1200px;
  margin: auto;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 15px;
  margin-top: 15px;
  border-bottom: 1px solid #d3d3d3;
}

.repo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }
}

.repo-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .repo-info-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 125px;

    span {
      margin-right: 5px;
      display: inline-block;
      justify-content: center;
      align-items: center;
    }
  }
}

.main-content {
  display: grid;
  grid-template-columns: 3.5fr 1.25fr;
  align-items: self-start;
}

.section-one {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px 0 20px 0;

  .section-one-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    span {
      margin-right: 5px;
    }
  }
}
.section-one-left .bordered {
  background-color: #f3f5f6;
}
.section-one-right .item {
  display: flex;
  flex-direction: row;
  align-items: center;

  *:not(:last-child) {
    margin-right: 20px;
    padding-left: 5px;
  }
}
.section-one-right .search {
  width: 200px;
}

.files-table {
  margin-top: 20px;
  width: 100%;
  display: grid !important;
  grid-template-columns: 1fr;
  border-bottom: 1px solid #d3d3d3;

  div {
    justify-content: start;
  }

  .files-table__header {
    background-color: #f3f5f6;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: "a . b";
    border: 1px solid #d3d3d3;
    border-bottom: none;
    .a {
      :first-child {
        margin-right: 10px;
      }
    }

    .b {
      justify-content: end;
      :first-child {
        margin-right: 10px;
      }
    }
  }
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding-left: 10px;

  .block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .block-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 10px;
      color: gray;

      :first-child {
        margin-right: 7px;
      }

      &:hover {
        cursor: pointer;
        color: blue;
      }
    }
  }

  .block-4,
  .block-5,
  .block-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    :first-child:not(.block-6 *) {
      margin-bottom: 20px;
      font-weight: bold;
    }

    p:nth-of-type(2) {
      font-size: 14px;
    }
    p:nth-of-type(3):not(.block-6 *) {
      font-size: 14px;
      color: blue;
      text-decoration: underline;
    }
  }

  .block-6 {
    div,
    p {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }
    span {
      margin-right: 8px;
    }

    p:nth-of-type(1):not(.lang)::before,
    p:nth-of-type(2)::before,
    p:nth-of-type(3)::before {
      content: " ";
      height: 10px;
      width: 10px;
      background-color: yellow;
      border-radius: 100%;
      margin-right: 10px;
    }
    p:nth-of-type(2)::before {
      background-color: blue;
    }
    p:nth-of-type(3)::before {
      background-color: darkred;
    }
    .lang {
      margin-bottom: 20px;
    }
  }

  .graph-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .graph-item {
    height: 5px;
    background-color: yellow;
  }
  .graph-item.one {
    width: 70%;
    border-radius: 10px 0px 0px 10px;
  }
  .graph-item.two {
    width: 20%;
    background-color: blue;
  }
  .graph-item.three {
    width: 10%;
    background-color: darkred;
    border-radius: 0px 10px 10px 0px;
  }
  .langWrapper p {
    margin-right: 15px;
    margin-bottom: 0;
  }
}

.code {
  background-color: green;
  color: white;
}

/*  footer */

footer {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  bottom: 0px;
  margin: auto;
  opacity: 0.7;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-right: 20px;
      font-size: 14px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: blue;
      }
    }
  }
}

.responsive-alert {
  display: none;
  margin: auto;
}

@media (max-width: 1200px) {
  main,
  header,
  footer {
    display: none !important;
  }
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .responsive-alert {
    display: initial;
  }
}

@media (min-width: 1200px) {
}
